<h1>Editing alarm</h1>

<%= simple_form_for(@alarm) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :medication %>
  <%= f.input :resident_id, as: :select, :collection => Resident.all %>
  <%= f.input :status, as: :boolean, :label => "Activate?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Show', @alarm %> |
<%= link_to 'Back', alarms_path %>
