<h1>Alarms</h1>
<br>

  <table class="table table-bordered table-striped table-condensed" style="width:50%;left:20px;">
      <thead>
        <tr>
            <th>Alarm ID</th><th>Resident Name</th><th><center>Device Status</center></th><th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>
        <% @alarms.each do |alarm| %>
            <tr>
              <td><%= link_to alarm.id, alarm %></td>
              <td><%= Resident.find(alarm.resident_id).name %></td>
               <td style="text-align: center;">
                  <% if alarm.status==true %>
                      <span class="label label-success">Online</span>
                  <% elsif alarm.status==false %>
                      <span class="label label-offline">Offline</span
                  <% end %>  
              </td>
               <td style="text-align: center;">
                  <%= link_to(edit_alarm_path(alarm)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(alarm, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="halflings-icon black trash"></i><% end %>
            </tr>
        <% end %>
                                   
      </tbody>
  </table>

<br />

<%= link_to 'New Alarm', new_alarm_path, class: "btn btn-primary" %>

             

