<h1>Alarms</h1>
<br>

  <table class="table table-bordered table-striped table-condensed" style="width:90%;left:20px;">
      <thead>
        <tr>
            <th>Alarm ID</th>
            <th>Resident Name</th>
            <th>Medication</th>
            <th><center>Time</center></th>
            <th><center>Recurring</center></th>
            <th><center>Priority</center></th>
            <th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>
        <% @alarms.each do |alarm| %>
            <tr>
              <td><%= link_to alarm.id, alarm %></td>
              <td><%= link_to Resident.find(alarm.resident_id).name, resident_path(alarm.resident_id) %></td>
              <td><%= alarm.medication %></td>
              <td style="text-align: center;"><%= alarm.time.strftime("%l:%M %p %Z")    %></td>
              <td style="text-align: center;"><%= alarm.recurring %></td>
              <td style="text-align: center;">
                  <% if alarm.priority=="High" %>
                      <span class="label label-important">High</span>
                  <% elsif alarm.priority=="Normal" %>
                      <span class="label label-info">Normal</span
                  <% end %> 
              </td>
               
               <td style="text-align: center;">
                  <%= link_to(edit_alarm_path(alarm)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(alarm, method: :delete) do %><i class="halflings-icon black trash"></i><% end %>
            </tr>
        <% end %>
                                   
      </tbody>
  </table>

<br />

<%= link_to 'New Alarm', new_alarm_path, class: "btn btn-success" %>

             

