<h1>New alarm</h1>

<%= simple_form_for(@alarm) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
 	 <%= f.input :medication %>
 	 <%= f.input :resident_id, as: :select, :collection => Resident.all %>
 	 <%= f.input :time, as: :time, :minute_step => 15, :ampm => true %>
 	 <%= f.input :recurring, as: :radio_buttons, collection: ["Daily"] %>
 	 <%= f.input :priority, as: :radio_buttons, collection: ["Normal", "High"], :selected => "Normal" %>
  	 <%= f.input :status, as: :boolean, :label => "Activate?" %>
  </div>

  <div class="form-actions">
  	<%= link_to 'Back', alarms_path, class: "btn" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>

  <br><br><br><br>
<% end %>



