<h1>New alarm</h1>

<%= simple_form_for(@alarm, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
 	 <%= f.input :medication %>
 	 <%= f.input :resident_id, as: :select, :collection => Resident.all %>
     <%= f.input :period, as: :select, collection: ["Morning", "Afternoon", "Evening"] %>
 	 <%= f.input :time, as: :time, :minute_step => 15, :ampm => true %>
 	 <%= f.input :recurring, as: :radio_buttons, collection: ["Daily"], :checked => "Daily" %>
 	 <%= f.input :priority, as: :radio_buttons, collection: ["Normal", "High"], :checked => "Normal" %>
  	 <%= f.hidden_field :status, as: :boolean, :value => "false" %>
  </div>

  <div class="form-actions">
  	<%= link_to 'Back', alarms_path, class: "btn" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>

<% end %>



