<h1>Editing device</h1>

<%= simple_form_for(@device, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
  	  <%= f.input :id, disabled: true, :label => "Device ID" %>

  	  <%= f.input :resident_id, as: :select, :collection => Resident.all %>
  	  <%= f.input :status, as: :boolean, :label => "Activate?" %>
  </div>

  <div class="form-actions">
  	<%= link_to 'Back', devices_path, class: "btn" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
