<h1>Devices</h1>
<br>

  <table class="table table-bordered table-striped table-condensed" style="width:50%;left:20px;">
      <thead>
        <tr>
            <th>Device ID</th>
            <th>Resident</th>
            <th><center>Alarm Status</center></th>
            <th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>
        <% @devices.each do |device| %>
            <tr>
               <td><%= device.id %></td>
               <td>
                  <% if device.resident_id %>
                      <% if Resident.exists?(device.resident_id) %>
                          <%= link_to Resident.find(device.resident_id).name, resident_path(device.resident_id) %>
                      <% end %>
                  <% end %>

               </td>
               <td style="text-align: center;">

              <% if device.status==true %>

                      <%= simple_form_for(device, html: { :class => "form-nomargin"}) do |f| %>
                      <%= f.hidden_field :status, as: :boolean, :value=>"false" %>
                      <%= f.submit "Alarm On", class: "btn btn-mini btn-danger" %>
                      <% end %>

                   <% elsif device.status==false %>

                      <%= simple_form_for(device, html: { :class => "form-nomargin"}) do |f| %>
                      <%= f.hidden_field :status, as: :boolean, :value=>"true" %>
                      <%= f.submit "Alarm Off", class: "btn btn-mini btn-info" %>
                      <% end %>

                <% end %>
  



               </td>
               <td style="text-align: center;">
                  <%= link_to(edit_device_path(device)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(device, method: :delete) do %><i class="halflings-icon black trash"></i><% end %>
            </tr>
        <% end %>
                                   
      </tbody>
  </table>

<br />

<%= link_to 'New Device', new_device_path, class: "btn btn-success" %>

             

