<h1>New resident</h1>

<%= simple_form_for(@resident, html: { }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, as: :text, input_html: { rows: "1" } %>
  <%= f.input :status, as: :boolean, :label => "Activate?" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', residents_path %>
