<h1><%= @resident.name %></h1>

<hr>

<h1 style="font-size: 24px;"><i class="fa-icon-hdd" style="color: #AAA;">  Device Management</i>
<div style="float:right;"><%= link_to 'New Device', new_device_path, class: "btn btn-mini" %></div>
</h1>


<p>

 <table class="table table-bordered table-striped table-condensed" style="width:100%;left:20px;">
      <thead>
        <tr>
            <th>Device ID</th>
            <th><center>Alarm Status</center></th>
            <th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>

        <% Device.find_each do |device| %>
          <% if @resident.id==device.resident_id %>

            <tr>
               <td><%= device.id %></td>
               <td style="text-align: center;">

              <% if device.status==true %>

                      <%= simple_form_for(device, html: { :class => "form-nomargin"}) do |f| %>
                      <%= f.hidden_field :status, as: :boolean, :value=>"false" %>
                      <%= f.submit "Alarm On", class: "btn btn-mini btn-danger" %>
                      <% end %>

                   <% elsif device.status==false %>

                      <%= simple_form_for(device, html: { :class => "form-nomargin"}) do |f| %>
                      <%= f.hidden_field :status, as: :boolean, :value=>"true" %>
                      <%= f.submit "Alarm Off", class: "btn btn-mini btn-info" %>
                      <% end %>

                <% end %>
  



               </td>
               <td style="text-align: center;">
                  <%= link_to(edit_device_path(device)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(device, method: :delete) do %><i class="halflings-icon black trash"></i><% end %>
            </tr>
        <% end %>
        <% end %>
                                   
      </tbody>
  </table>
</p>

        

<h1 style="font-size: 24px;"><i class="fa-icon-bell" style="color: #AAA;">   Alarm Management</i>
  <div style="float:right;"><%= link_to 'New Alarm', new_alarm_path, class: "btn btn-mini" %></div>
</h1>




<p>

	<table class="table table-bordered table-striped table-condensed" style="width:100%;left:20px;">
      <thead>
        <tr>
            <th>Alarm ID</th>
            <th>Medication</th>
            <th><center>Time Period</center></th>
            <th><center>Time</center></th>
            <th><center>Recurring</center></th>
            <th><center>Priority</center></th>
            <th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>

      	<% Alarm.find_each do |alarm| %>

      		<% if @resident.id==alarm.resident_id %>
            <tr>

              <td><%= link_to alarm.id, edit_alarm_path(alarm) %></td>
              <td><%= alarm.medication %></td>
              <td style="text-align: center;"><%= alarm.period %></td>
              <td style="text-align: center;"><%= alarm.time.strftime("%l:%M %p %Z")    %></td>
              <td style="text-align: center;"><%= alarm.recurring %></td>
              <td style="text-align: center;">
                  <% if alarm.priority=="High" %>
                      <span class="label label-important">High</span>
                  <% elsif alarm.priority=="Normal" %>
                      <span class="label label-info">Normal</span
                  <% end %> 


              </td>
               
               <td style="text-align: center;">
                  <%= link_to(edit_alarm_path(alarm)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(alarm, method: :delete) do %><i class="halflings-icon black trash"></i><% end %>
              
            </tr>
            <% end %>
        <% end %>
        
                                   
      </tbody>
  </table>

</p>

<div class="form-actions">
<%= link_to 'Back', residents_path, class: "btn" %>
<%= link_to 'Edit', edit_resident_path(@resident), class: "btn btn-success" %>
</div>
