<p>
  <b>Name:</b>
  <%= @resident.name %>
</p>

<p>
	<b>Device: </b>

</p>

<p>

	<table class="table table-bordered table-striped table-condensed" style="width:90%;left:20px;">
      <thead>
        <tr>
            <th>Alarm ID</th>
            <th>Medication</th>
            <th>Resident Name</th>
            <th><center>Time</center></th>
            <th><center>Recurring</center></th>
            <th><center>Priority</center></th>
            <th><center>Device Status</center></th>
            <th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>

      	<% Alarm.find_each do |alarm| %>

      		<% if @resident.id==alarm.resident_id %>
            <tr>

              <td><%= link_to alarm.id, alarm %></td>
              <td><%= alarm.medication %></td>
              <td><%= Resident.find(alarm.resident_id).name %></td>
              <td style="text-align: center;"><%= alarm.time.strftime("%l:%M %p %Z")    %></td>
              <td style="text-align: center;"><%= alarm.recurring %></td>
              <td style="text-align: center;">
                  <% if alarm.priority=="High" %>
                      <span class="label label-important">High</span>
                  <% elsif alarm.priority=="Normal" %>
                      <span class="label label-info">Normal</span
                  <% end %> 


              </td>
               <td style="text-align: center;">
                  <% if alarm.status==true %>
                      <span class="label label-success">Online</span>
                  <% elsif alarm.status==false %>
                      <span class="label label-offline">Offline</span
                  <% end %>  
              </td>
               <td style="text-align: center;">
                  <%= link_to(edit_alarm_path(alarm)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(alarm, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="halflings-icon black trash"></i><% end %>
              
            </tr>
            <% end %>
        <% end %>
        
                                   
      </tbody>
  </table>



</p>
<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
