


<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			
			<li class="active">
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black home"></i></div><span class="hidden-tablet">
				<%=link_to "Dashboard", root_path %></span>
			</li>	
			
			<li>
				
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black user"></i></div><span class="hidden-tablet">
				<%=link_to "Residents", residents_path %></span>
				
			</li>
			
			<li>
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black bell"></i></div><span class="hidden-tablet"> <%=link_to "Alarms", alarms_path %></span>
				
			</li>
			
			<li>
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black hdd"></i></div><span class="hidden-tablet"> <%=link_to "Devices", devices_path %></span>
				
			</li>
			
			<li>
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black calendar"></i></div><span class="hidden-tablet"> <%=link_to "Calendar", calendar_path %></span>
				
			</li>
			
			<li>
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black tasks"></i></div><span class="hidden-tablet"> <%=link_to "Data", data_path %></span>
				
			</li>

			<li>
				<div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black cog"></i></div><span class="hidden-tablet"> <%=link_to "Preferences", preferences_path %></span>
				
			</li>


		</ul>
	</div>
</div>