<!DOCTYPE html>
<html>
  <head>
    <title>JAMS - Judson Automatic Medication System</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/menu' %>


    <div id="content" class="span11" style="width: 86%; min-height: 560px; margin-bottom: 60px;">

    <div class="container" style="margin-left: 0%; width: 100%;">
            <% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>

                        
               <%= yield %>
                

    </div>

  </div>

    

    <%= render 'layouts/footer' %>

  </body>
</html>